@model TeduShop.Web.Models.ContactDetailViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@section footerJS{

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK10H3H8BB8Eagpp6yxzCVI9-R9C4aLyg">
</script>
    <script src="~/Assets/client/js/Controller/contact.js"></script>

}

<style>
    #map {
        height: 400px;
    }
</style>

<input type="hidden" id="hidLat" value="@Model.Lat" />
<input type="hidden" id="hidLng" value="@Model.Lng" />
<input type="hidden" id="hidAddress" value="@Model.Name </br> Điện Thoại: @Model.Phone </br> địa Chỉ: @Model.Address " />
<input type="hidden" id="hidName" value="@Model.Name" />

<div class="main">
    <div class="reservation_top">
        <div class=" contact_right">
            <h3>Thông tin liên hệ</h3>
            <div class="contact-form">
                <address class="address">
                    <p>@Model.Address</p>
                    <dl>
                        <dt> </dt>
                        <dd>điện Thoại:<span> @Model.Phone</span></dd>
                        <dd>E-mail:&nbsp; <a href="mailto:@(Model.Email)">@(Model.Email)</a></dd>
                    </dl>
                </address>
                <div class="clearfix"></div>
                <div id="map">

                </div>
            </div>
        </div>
    </div>
    <div class="reservation_top">
        <div class=" contact_right">
            <h3>Contact Form</h3>
            <div class="contact-form">
                <form method="post" action="contact-post.html">
                    <input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    <textarea value="Message" onfocus="this.value= '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                    <input type="submit" value="Send">
                    <div class="clearfix"> </div>
                </form>

            </div>
        </div>
    </div>
</div>