@model TeduShop.Web.Models.RegisterViewModel
@using BotDetect.Web.Mvc;


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />


<div class="register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(false, "", new { @class = "text-danger" });

        if (ViewData["SuccessMsg"] != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>Chúc mừng bạn! </strong>đã đăng ký thành công
                <br />xin click <a href="/dang-nhap.html">vào đây</a> để đăng nhập.
            </div>
        }

        <div class="  register-top-grid">
            <h3>Thông Tin Cá Nhân</h3>
            <div class="mation">
                <span>Họ tên<label>*</label></span>
                @Html.TextBoxFor(model => model.FullName)

                <span>Tên đăng nhập<label>*</label></span>
                @Html.TextBoxFor(model => model.UserName)

                <span>Mật khẩu<label>*</label></span>
                @Html.PasswordFor(model => model.Password)

                <span>Email<label>*</label></span>
                @Html.TextBoxFor(model => model.Email)

                <span>Địa chỉ<label>*</label></span>
                @Html.TextBoxFor(model => model.Address)

                <span>Điện thoại<label>*</label></span>
                @Html.TextBoxFor(model => model.PhoneNumber)

                @{MvcCaptcha registerCaptcha = new MvcCaptcha("registerCaptcha");}
                @Html.Captcha(registerCaptcha)
                @Html.TextBox("CaptchaCode")
            </div>
            <div class="register-but">

                <input type="submit" value="submit">
                <div class="clearfix"> </div>

            </div>

        </div>
    }


</div>

